@model IEnumerable<AsmStoreBook.Models.Order>

@{
    ViewData["Title"] = "Detail";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Books
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @foreach (var detail in item.OrderDetails)
            {
                <tr>
                    <td>
                       @detail.Book.Title                      
                    </td>
                    <td>
                       1                    
                    </td>
                    <td>
                       @detail.Book.Price                 
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

